@media screen and (min-width: 0px) {
  html {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    background-color: #FFFFFF;
    --basic-padding: 2rem;
    --basic-margin: 2rem;
    --flex-gap: 2rem;
    --side-nav-width: 18.3125rem;
    --calendar-width: 20.8125rem;
    --top-nav-height: 6.55rem;
  }

  * {
    /* outline: 1px red solid; */
  }
}